# Template: https://github.com/mmistakes/minimal-mistakes/blob/master/_config.yml
minimal_mistakes_skin    : "myskin"
locale                   : "en-US"
title                    : "WHAT A STARRY NIGHT~"
title_separator          : "-"
subtitle                 : "Enjoy while it lasts." # "TIME & PATIENCE"
url                      : http://helloworld-1017.github.io
baseurl                  : 
repository               : helloworld-1017/helloworld-1017.github.io
creation_day             : 2022-07-16


author:
  name: "Qinghua Ma"
  avatar: "/images/huachi.jpg"

include:
  - _pages

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache
# - jemoji # https://github.com/jekyll/jekyll/issues/9733
  - jekyll-algolia

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

teaser: # /assets/images/500x300.png
header:
  teaser: # /assets/images/my-awesome-post-teaser.jpg
logo: "/images/huachi.jpg" # "/assets/images/88x88.png"
masthead_title: # "My Custom Title"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      show_date: true
      date_format: "%Y-%m-%d HH:MM:SS"
      toc: true
      toc_sticky: true
      # classes: wide
      excerpt_separator: "" # https://jekyllcn.com/docs/posts/
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      classes: wide

permalink: /:year-:month-:day/:hour-:minute-:second:output_ext
paginate_path: /page:num/
paginate: 31
timezone: Asia/Shanghai # See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# Conversion
markdown: kramdown
# highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown renderer
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  footnote_backlink: "&#708;" # &#8617;
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  syntax_highlighter: rouge  
  syntax_highlighter_opts: # https://rouge-ruby.github.io/docs/#jekyll
    block:  
      start_line: 1
      line_numbers: true
      line_class: 'lineno'