<style>
  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 0.5px solid #ccc;
  }

  .title {
    /* font-weight: bold; */
    padding-right: 1em;
  }

  .date {
    font-size: 0.875em;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    min-width: 100px;
  }
</style>

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign date = post.date  %}
<!-- {% assign date_format = site.date_format | default: "%b. %d, %Y" %} -->
{% assign date_format = site.date_format | default: "%Y-%m-%d" %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <li class="list-item">
      <div class="title">
        <a href="{{ post.url | relative_url }}" rel="permalink" style="color:black;">
          {{ title }}
        </a>
      </div>
      <div class="date">
        {{ date | date: date_format }}
      </div>
    </li>
 </article>
</div>