<script>
    MathJax = {
        tex: {
            tags: 'all',  // should be 'ams', 'none', or 'all'
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
        }
    };
</script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<script>
    document.addEventListener('wheel', function (e) {
        if (e.ctrlKey) {
            e.preventDefault();
        }
    }, {
        capture: false,
        passive: false
    });  
</script>

<link href="/assets/fontawesome_v6.6.0/css/all.css" rel="stylesheet" />
<link href="/assets/academicons_v1.9.4/css/academicons.css" rel="stylesheet" />