---
layout: archive
---

{{ content }}

{% assign categories_max = 0 %}
{% for category in site.categories %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<div class="label-panel">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
          <a class = "btn btn--label" href="#{{ category[0] | slugify }}">
            <i class="fa fa-folder-open" aria-hidden="true"></i> {{ category[0] }} ({{ i }})
          </a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% if category[1].size == i %}
      <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
        <h2 class="archive__subtitle"><i class="fa fa-folder-open" aria-hidden="true" style="margin-right:0.3em;"></i>{{ category[0] }} ({{ i }})</h2>
        <div class="entries-{{ entries_layout }}">
          {% for post in category.last %}
            {% include archive-single.html type=entries_layout %}
          {% endfor %}
        </div>
      </section>
    {% endif %}
  {% endfor %}
{% endfor %}
