// Self-defined division class
.quote--center {
    display: block;
    width: 90%;
    margin: auto auto;
    text-align: center;
    padding: 2em;
    color: $Ivory4;
    // background: #5F85DB;
    // box-shadow: $box-shadow2;
    // border-radius: 7px;
}

.quote--left {
    display: block;
    width: 90%;
    margin: auto auto;
    text-align: justify;
    padding: 2em;
    color: $Ivory4;
    // background: #FFFFF0;
    // box-shadow: $box-shadow2;
    // border-radius: 7px;
}

.quote--lyrics {
    width: 100%;
    margin: auto auto;
    text-align: center;
    padding-bottom: 0.5em;
    color: $DodgerBlue4;
    font-weight: bold;
}