// Self-defined division classes

.quote--center {
    display: block;
    width: 90%;
    margin: auto auto;
    text-align: center;
    padding: 2em;
    color: $Ivory4;
}

.quote--left {
    display: block;
    width: 90%;
    margin: auto auto;
    text-align: justify;
    padding: 2em;
    color: $Ivory4;
    quotes: "\201C" "\201C";
}

// Add quote mark
.quote--left:before {
    content: open-quote;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    color: $Ivory4;
    font-size: 4em;
    margin-left: -0.6em;
    margin-top: 0.20em;
    vertical-align: top;
}

.quote--lyrics {
    width: 100%;
    margin: auto auto;
    text-align: center;
    padding-bottom: 0.5em;
    color: $DodgerBlue4;
    font-weight: bold;
}