/* ==========================================================================
   FOOTNOTES
   ========================================================================== */

.footnote {
    color: #3366CC;
    text-decoration: none;
}

.footnote:before {
    content: "[";
}

.footnote:after {
    content: "]";
}

.footnotes {
    color: black;

    ol,
    li,
    p {
        margin-bottom: 0;
        font-size: 100%;
        text-decoration: none;
    }
}

a.reversefootnote {
    color: #FF0000;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
