/* FOOTNOTES */
.footnote {
    color: $link-color;
    text-decoration: none;

    a:hover {
        text-decoration: underline;
        color: $link-color;
    }
}

.footnote:before {
    content: "[";
}

.footnote:after {
    content: "]";
}

// Footnotes at the bottom of the page
.footnotes {
    color: black;
    ol,
    li,
    p {
        margin-bottom: 0;
        font-size: 100%;
        text-decoration: none;
    }
}

// Reverse footnote symbol settings
a.reversefootnote {
    color: red;
    font-weight: bold;
    // vertical-align: super;
    text-decoration: none;

    &:hover,&:visited {
        text-decoration: underline;
    }
}