/* ==========================================================================
   FOOTNOTES
   ========================================================================== */

.footnote {
    color: $link-color;
    text-decoration: none;
}

.footnote:before {
    content: "[";
}

.footnote:after {
    content: "]";
}

// Footnotes at the bottom of the page
.footnotes {
    color: black;
    ol,
    li,
    p {
        margin-bottom: 0;
        font-size: 100%;
        text-decoration: none;
    }
}
// https://codepen.io/SitePoint/pen/QbMgvY
// https://wpshout.com/snippets/highlighted-footnotes-wikipedia-css/
// :target {
//     background: #ccc;
//     border: solid 1px #aaa;
//     transition: all .8s;
// }

// Reverse footnote symbol settings
a.reversefootnote {
    color: red;
    font-weight: bold;
    vertical-align: super;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

