/* ==========================================================================
   IMAGES
   ========================================================================== */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    // box-shadow: $box-shadow2;
}