/* Page taxonomy */

.page__taxonomy {
    .sep {
        display: none;
    }
    strong {
        margin-right: 10px;
    }
}

.page__taxonomy-item {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: $border-radius;

    &:hover {
        text-decoration: none;
        color: $link-color-hover;
    }
}

.taxonomy__section {
    margin-bottom: 1em;
    padding-bottom: 1em;

    &:not(:last-child) {
        border-bottom: none;
    }

    .archive__item-title {
        margin-top: 0;
    }

    .archive__subtitle {
        clear: both;
        border: 0;
    }

    + .taxonomy__section {
        margin-top: 1em;
    }
}

.taxonomy__title {
    margin-bottom: 0.1em;
    color: $muted-text-color;
}

.taxonomy__count {
    color: white;

    :before {
        content: "(";
    }
}

.taxonomy__index {
    display: block;
    margin: 1.414em 0;
    padding: 0;
    font-size: 0.75em;
    list-style: none;

    a {
        color: white;
        background-color: blue;
        display: -ms-flexbox;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }
}